image: Visual Studio 2017

environment:
  nodejs_version:
    - 10
    - 12
    - 14

platform:
  - x86
  - x64

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node -e "console.log(`${process.version} ${process.arch} ${process.platform}`)"
  - npm --version
  - npm test

build: off
